body, html {
    height: auto;
    width: 100%;
    background-color: #5bc0de; /* Light blue background */
}

.container-fluid {
    width: 100%;
    height: auto;
    padding: 0;
}

.navbar {
    margin-bottom: 20px;
}

form {
    background-color: #e6e6e6;
    padding: 20px;
    border-radius: 10px;
}

#dataPetugas {
    background-color: #e6e6e6;
    padding: 20px;
    border-radius: 10px;
}
