body, html {
    height: 100%;
}

.container-fluid {
    background-color: #5bc0de; /* Light blue background */
    height: 100%;
}

.card {
    margin-top: 50px;
    border-radius: 10px;
}

.card-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
