html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #5bc0de;
}

.container-fluid {
    flex: 1;
    display: flex;
    flex-direction: column;
    /* background-image: url('../image/Background.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
} 

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.card {
    width: 100%;
}

.cardForm {
    padding: 50px;
    margin: 50px;
}

.table-responsive {
    overflow-x: auto;
}

table {
    width: 100%;
    margin-bottom: 0;
}